th,
td {
  border: 1px solid black;
  margin: 0px 0px;
  padding: 5px 5px;
}

table{
  margin: auto;
}

.canvas{
  display: flex;
  margin: 30px 15%;
  width: 50%;
  padding: 10px;
}

.filterButton {
  background-color:  #555555; 
  transition-duration: 0.4s;
  margin: 5px;
  padding: 10px;
  border-radius: 2px;
  color: white;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.filterButton:hover {
  transition-duration: 0.4s;
  background-color:gray; 
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.buttonContainer{
  margin: 30px auto;
  width: 80%;
  padding: 10px;
}
.buttonContainer span{
  display: block;
  text-align: center;
  margin: 10px;
}

.valuesFilter{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 20px;
}